.projects {
  width: 80%;
  margin: auto;
  position: relative;
  padding: 10% 0;
  height: 100%;
  /* background: #000; */
}
.project {
  width: 100%;
  height: 400px;
  background: #313131;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 2% 0;
  color: white;
}
.projects .head-name {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.project div {
  padding: 2%;
  height: 100%;
  /* border: 1px solid red; */
}
.img-box {
  width: 50%;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.project-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
  width: 50%;
}
.project-info .descriptsion {
  padding: 5% 0;
  border-top: 1px solid rgb(138, 138, 138);
  border-bottom: 1px solid rgb(138, 138, 138);
}
.project .web-live {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0;
}
.project .web-live button {
  border: none;
  background: #ffffff;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.project .web-live button a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 7px 4px;
  color: black;
}

.web-live button:hover a {
  color: white;
}
.web-live button:hover {
  color: white;
  /* background: #313131; */
}

.web-live button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 200%;
  background: #313131;
  border-radius: 50%;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  z-index: -1;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.web-live button:hover:before {
  top: 0%;
  height: 200%;
  width: 100%;
  background: #313131;
  color: white;
}
.projects .head-name {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
@media (max-width: 1024px) {
  .projects {
    padding: 20% 0;
  }
  .projects .head-name {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

@media (max-width: 780px) {
  .projects {
    width: 90%;
    height: 100%;
    padding: 20% 0;
    box-sizing: border-box;
  }
  .project {
    flex-direction: column;
    padding: 10% 0;
    height: 100%;
  }
  .projects .head-name {
    top: 2.5%;
  }
  .project div {
    width: 100%;
    padding: 2%;
    height: 50%;
    /* border: 1px solid red; */
  }
  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
  }
  .project {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 6% 0;
  }
  .project .web-live {
    margin-top: 20px;
  }
}
