.projects {
  width: 80%;
  margin: auto;
  position: relative;
  padding: 10% 0;
  height: 100%;
  /* background: #000; */
}
.project {
  width: 100%;
  height: 400px;
  background: #313131;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 2% 0;
  color: white;
}
.projects .head-name {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.project div {
  padding: 2%;
  height: 100%;
  /* border: 1px solid red; */
}
.img-box {
  width: 50%;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.project-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
  width: 50%;
}
.project-info .descriptsion {
  padding: 5% 0;
  border-top: 1px solid rgb(138, 138, 138);
  border-bottom: 1px solid rgb(138, 138, 138);
}
.projects .head-name {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
@media (max-width: 1024px) {
  .projects {
    padding: 20% 0;
  }
  .projects .head-name {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

@media (max-width: 780px) {
  .projects {
    width: 90%;
    height: 100%;
    padding: 20% 0;
    box-sizing: border-box;
  }
  .project {
    flex-direction: column;
    padding: 10% 0;
    height: 100%;
  }
  .projects .head-name {
    top: 2.5%;
  }
  .project div {
    width: 100%;
    padding: 2%;
    height: 50%;
    /* border: 1px solid red; */
  }
  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
  }
  .project {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 6% 0;
  }
}
