.skill {
  width: 80%;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-content: center;
  padding: 10% 0;
  row-gap: 50px;
  column-gap: 20px;
  position: relative;
  /* background: #000; */
}
.skill .head-name {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.skill .tech-box {
  /* width: 150px; */

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid #313131; */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 1%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  border-bottom: 2px solid rgb(95, 95, 95);
  border-top: 2px solid rgb(255, 255, 255);

  box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 1);
}
.tech-box img {
  width: 35%;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
.tech-box p {
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  color: rgb(0, 0, 0);
  font-size: 1.3vw;
}
.tech-box:hover p {
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
}
.tech-box:hover img {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  scale: 1.2;
}
.tech-box:hover {
  box-shadow: 0px 90px 100px -52px rgba(0, 0, 0, 0.555);
  transform: translateY(-20px);
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  border-bottom: 2px solid rgb(95, 95, 95);
  border-top: 2px solid rgb(255, 255, 255);
  background: #ebebeb;
}
.git-stat {
  position: relative;
  /* background: #d61e1e; */
}
.git-stat .head-name-stat {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

@media (min-width: 1024px) {
  .skill .tech-box {
    height: 100%;
    padding: 7% 0;
  }

  .git-stat {
    width: 80%;
    margin: auto;

    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 10% 0;
    /* border: 3px solid #313131; */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .git-stat img {
    height: 11lvw;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #313131;
  }
}

@media (max-width: 1024px) {
  .skill {
    height: 70vh;
    /* row-gap: 10px; */
  }
  .skill .tech-box {
    height: 150px;
  }
  .tech-box p {
    transform: translateY(0);
  }
  .tech-box img {
    width: 40%;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
  }
  .git-stat {
    width: 80%;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    flex-wrap: nowrap;
    /* background: red; */
    padding: 15% 0;
  }
  .git-stat .head-name-stat {
    top: 6%;
  }
  .git-stat img {
    width: 60lvw;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
  }
}
@media (max-width: 780px) {
  .skill {
    width: 80%;
    height: 100lvh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: none;
    align-items: center;
    padding-top: 30%;
    row-gap: 50px;
    /* background: #000; */
  }
  .skill .head-name {
    top: 7%;
  }
  .skill .tech-box {
    height: 110px;
  }
  .tech-box img {
    width: 50%;
    height: 50%;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    object-fit: contain;
  }

  /* .skill .tech-box {
    box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
    border: 1px solid #313131;
  } */
  .tech-box p {
    font-size: 3vw;
  }
  .git-stat {
    width: 100%;
    padding: 30% 2%;
    /* height: 100lvh; */
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    flex-wrap: nowrap;
  }
  .git-stat img {
    width: 100%;
    filter: grayscale(0);
    filter: invert(0);
    -webkit-filter: invert(0);
  }
  .git-stat .head-name-stat {
    top: 7%;
  }
}
